<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bebediary">

    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".register.BabyRegisterActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />
        <activity android:name=".memo.NoteListActivity" />
        <activity android:name=".memo.AddNoteActivity" />
        <activity android:name=".calendar.list.CalendarListActivity" />
        <activity android:name=".calendar.detail.CalendarDetailActivity" />
        <activity
            android:name=".calendar.AddCalendarActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".checklist.CheckListActivity" />
        <activity
            android:name=".checklist.CheckListAddActivity"
            android:theme="@style/AppTheme.CheckListActivity" />
        <activity android:name=".baby.change.BabyChangeActivity" />
        <activity android:name=".camera.CameraWrapperActivity" />
        <activity android:name=".camera.CameraResultActivity" />
        <activity android:name=".whitenoise.WhiteNoiseActivity" />

        <!-- 사진 촬영을 위한 provide -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bebediary.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 캘린더 알람 리시버 -->
        <receiver
            android:name=".calendar.alarm.CalendarAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
